*tree-sitter/
*elpaca/
*auto-save-list/
*.cache
*.dap-breakpoints
*elpa/
*emojis
*eshell/
*flycheck_init.el
*.lsp-session-v1
*opam-user-setup.el
*org-journal.cache
*session.*
*transient/
*url
*workspace
*projects
*recentf